<footer class="page-footer font-small blue pt-4 bg-info text-white">
    <div class="container-fluid text-center text-md-left">  
      <div class="row">          
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">Web de recetas</h5>
          <p>Desarrollo web con Python y su framework Django</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Navegacion</h5>          
          <ul class="list-unstyled">
            <li>
                <a class="text-secondary">Recetas sencillas</a>
            </li>
            <li>
                <a class="text-secondary">Comida</a>
            </li>
            <li>
                <a class="text-secondary">Postres</a>
            </li>
            <li>
                <a class="text-secondary">Bebidas</a>
            </li>
          </ul>
  
        </div>
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Redes sociales</h5>
  
          <ul class="list-unstyled">
            <li>
                <i class="fa-brands fa-facebook "></i>
            </li>
            <li>
                <i class="fa-brands fa-instagram"></i>
            </li>
            <li>
                <i class="fa-brands fa-pinterest"></i>
            </li>
          </ul>          
        </div>
      </div>
    </div>
    
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 bg-secondary text-danger">© 2021 Copyright
    </div>
</footer>