{% extends 'base.html' %}

{% block title %}{{title}}{% endblock title %}{{title}}

{% block content %}
  <!--Buscador-->
  <div class="mx-5">
      <h2>Que vas a cocinar hoy?<h2>
      <div class="input-group">
        <input type="text" class="form-control mx-2" placeholder="ej. Caldo Tlalpeño" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="button"><i class="fa-solid fa-magnifying-glass"></i>Buscar</button>
        </div>
      </div>
  </div>

  <!--Carousel-->

  <!--Informacion de-->

  <!--Listado de recetas-->

  <!--Paginacion-->

{% endblock content %}
