{% extends 'base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock title %}{{title}}

{% block content %}
    <h1 class="titulo">{{title}}<h1>
    <img src="{% static 'img/background.jpg' %}" class="img-fluid mt-3" alt="Imagen de comidas">
    <blockquote class="blockquote py-3">
      <p class="mb-0">Web sencilla pero necesaria para conocer los fundamentos del desarrollo web en django al hacer uso de modelos, templates, esta web fue creada a partir de seguir un curso en Udemy sobre Django.</p>
    </blockquote>
{% endblock content %}
