<div class="mb-3">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
        {% if recetas.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">Primero</a></li>
            <li class="page-item"><a class="page-link" href="?page={{recetas.previous_page_number}}"><<</a></li>
        {% endif %}
        <li class="page-item">
        <span class="page-link">
            Pagina {{recetas.number}} de {{recetas.paginator.num_pages}}
        </span>
        </li>

        {% if recetas.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{recetas.next_page_number}}">>></a></li>
            <li class="page-item"><a class="page-link" href="?page={{recetas.paginator.num_pages}}">Ultima</a></li>
        {% endif %}
        </ul>
    </nav>
</div>