{% extends 'receta-base.html' %}
{% load static %}
{% block title %}{{receta.title}}{% endblock title %}
{% block recetaContent %}
    <h1 class="title">{{receta.title}}</h1>
    <br>
    {{receta.content | safe}}
    <hr>
    <div class="card text-center my-3">
        <div class="card-header">
            <strong>Tambien te puede interesar:</strong>
        </div>
        <div class="card-body">
          <h5 class="card-title"><a href="{% url 'receta' slug=receta_sugerencia.slug %}" >{{receta_sugerencia.title}}</a></h5>
          <p class="card-text">{{receta_sugerencia.descripcion}}</p>
          <img src="{% static 'img/gorro-de-cocinero.png' %}" class="rounded" alt="..." widht="150" height="150">
        </div>
      </div>
{% endblock recetaContent %}

